
// _________bg colors____________

$bg-nav: rgb(29, 29, 31,0.970);
$bg-primary-link: #0071e3;
$bg-primary-link-hover: #0775e4;
$bg-primary-garfical: #388ee4;

// ________text colors_________

$text-nav:#ffffffcc;
$text-nav-hover: #fff;
$text-dark-link: #202020;
$text-dark-parag: #838383;

// _______paddings______

$p-nav: 10px;
$p-link: 8px;
$px-box: 6px;

// _________margins__________

$me-link: 15px;
$mb-box: 12px;

// __________borders________

$border-r: 30px;

// _________font sizes__________

$fs-nav: 12px;
$fs-link: 17px;
$fs-header: 60px;
$fs-p-header: 30px;
$fs-h2-box: 55px;

// ____________font weights____________

$fw-lighter: 100;
$fw-light: 300;
$fw-seminormal: 350;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;

// ______________z-indexes______________

$z-full: 999;




// ___________________________________________________box 3: half boxes________________________________________________

// __________paddings_______________

$p-link-halfbox: 7px;

// _________font sizes______________

$fs-p-halfbox: 21px;
$fs-link-halfbox: 15px;
$fs-title-halfbox: 35px;


// _________________width_______________

$w-linkb-halfbox: 105px;
$w-links-halfbox: 65px;


// ___________________box 5___________________

$p-linkb-halfbox: 6px;


// ______________carousel___________________

$bg-carousel: #f5f5f7;
$fs-heading-carousel: 56px;
$p-box-carousel: 35px;

