// ______________import_______________

@import "vars";

// _______________Amirali: initializer_______________

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
  font-family:
    "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

// ____________________navbar____________________

nav {
  width: 100%;
  background-color: $bg-nav;
  position: fixed;
  padding: $p-nav;
  z-index: $z-full;

  div {
    display: flex;

    a.apple-icon i {
      color: $text-nav;
      margin-right: 25px;
      transition: all 0.7s;
    }

    a.apple-icon i:hover {
      color: $text-nav-hover;
    }

    div {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          a {
            color: $text-nav;
            text-decoration: none;
            font-size: $fs-nav;
            transition: all 0.7s;
          }

          a:hover {
            color: $text-nav-hover;
          }
        }
      }
    }
  }
}

// __________________header_____________________

header {
  position: relative;
  margin-bottom: $mb-box;

  img {
    width: 100%;
  }

  section {
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translateX(50%);
    color: $text-nav-hover;
    text-align: center;

    h1 {
      font-size: $fs-header;
    }

    p {
      font-size: $fs-p-header;
    }

    a {
      display: inline-block;
      padding: $p-link;
      border-radius: $border-r;
      text-decoration: none;
      font-size: $fs-link;
    }

    a.learnmore {
      width: 125px;
      color: $text-nav-hover;
      background-color: $bg-primary-link;
      margin-right: $me-link;
    }

    a.learnmore:hover {
      background-color: $bg-primary-link-hover;
    }

    a.buy {
      width: 80px;
      border: 1px solid $bg-primary-link;
    }

    a.buy:hover {
      background-color: $bg-primary-link;
      color: $text-nav-hover;
    }
  }
}

// _________________main_________________

main {
  // __________________box 1__________________

  section#boxone {
    position: relative;
    margin-bottom: $mb-box;

    img {
      width: 100%;
    }

    section {
      position: absolute;
      top: 8%;
      right: 50%;
      transform: translateX(50%);
      color: $text-nav-hover;
      text-align: center;

      h2 {
        font-size: $fs-h2-box;
        font-weight: $fw-semibold;
        color: $text-dark-link;
      }

      h6 {
        font-size: 30px;
        font-weight: $fw-normal;
        color: $text-dark-link;
      }

      p {
        font-size: 20px;
        color: $text-dark-parag;
      }

      a {
        display: inline-block;
        padding: $p-link;
        border-radius: $border-r;
        text-decoration: none;
        font-size: $fs-link;
      }

      a.learnmore {
        width: 125px;
        color: $text-nav-hover;
        background-color: $bg-primary-link;
        margin-right: $me-link;
      }

      a.learnmore:hover {
        background-color: $bg-primary-link-hover;
      }

      a#view {
        width: 135px;
        border: 1px solid $bg-primary-link;
      }

      a#view:hover {
        background-color: $bg-primary-link;
        color: $text-nav-hover;
      }
    }
  }

  // ___________________box 2____________________

  section#boxtwo {
    position: relative;
    margin-bottom: $mb-box;

    img {
      width: 100%;
    }

    h2 {
      font-size: 50px;
      font-weight: $fw-seminormal;
      position: absolute;
      top: 12%;
      right: 50%;
      transform: translateX(50%);
      color: $text-nav-hover;
      text-align: center;

      span {
        font-weight: $fw-semibold;
      }
    }

    section {
      position: absolute;
      bottom: 10%;
      right: 50%;
      transform: translateX(50%);
      color: $text-nav-hover;
      text-align: center;

      p {
        font-size: $fs-p-header;
      }

      a {
        display: inline-block;
        padding: $p-link;
        border-radius: $border-r;
        text-decoration: none;
        font-size: $fs-link;
      }

      a.learnmore {
        width: 125px;
        color: $text-nav-hover;
        background-color: $bg-primary-link;
        margin-right: $me-link;
      }

      a.learnmore:hover {
        background-color: $bg-primary-link-hover;
      }

      a.buy {
        width: 80px;
        border: 1px solid $bg-primary-link;
      }

      a.buy:hover {
        background-color: $bg-primary-link;
        color: $text-nav-hover;
      }
    }
  }

  //   ___________________box 3_________________

  section#boxthree {
    margin-bottom: $mb-box;

    section {
      padding: 0px $px-box;

      img {
        width: 100%;
      }

      section#halfboxone {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-nav-hover;
          text-align: center;

          h2 {
            font-weight: $fw-seminormal;

            span {
              font-weight: $fw-semibold;
            }
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            padding: $p-link-halfbox;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
            margin-right: $me-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-links-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }

      section#halfboxtwo {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-dark-link;
          text-align: center;

          h2 {
            font-weight: $fw-semibold;
            font-size: $fs-title-halfbox;
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            padding: $p-link-halfbox;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
            margin-right: $me-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-links-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }
    }
  }

  //   ___________________box 4_________________

  section#boxfour {
    margin-bottom: $mb-box;

    section {
      padding: 0px $px-box;

      img {
        width: 100%;
      }

      section#halfboxone {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-dark-link;
          text-align: center;

          h2 {
            font-weight: $fw-semibold;
            font-size: $fs-title-halfbox;

            span {
              color: $bg-primary-garfical;
            }
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            padding: $p-link-halfbox;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
            margin-right: $me-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-links-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }

      section#halfboxtwo {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-dark-link;
          text-align: center;

          h2 {
            font-weight: $fw-semibold;
            font-size: $fs-title-halfbox;
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            padding: $p-link-halfbox;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
            margin-right: $me-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-links-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }
    }
  }

  // ___________________box 5____________________

  section#boxfive {
    margin-bottom: $mb-box;

    section {
      padding: 0px $px-box;

      img {
        width: 100%;
      }

      section#halfboxone {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-dark-link;
          text-align: center;

          h2 {
            font-weight: $fw-semibold;
            font-size: $fs-title-halfbox;

            span {
              color: $bg-primary-garfical;
            }
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            padding: $p-link-halfbox;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-links-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }

      section#halfboxtwo {
        position: relative;
        padding: 0;
        padding: 0px $px-box;

        section {
          position: absolute;
          top: 10%;
          right: 50%;
          transform: translateX(50%);
          color: $text-dark-link;
          text-align: center;

          h2 {
            font-weight: $fw-semibold;
            font-size: $fs-title-halfbox;
          }

          p {
            font-size: $fs-p-halfbox;
          }

          a {
            display: inline-block;
            border-radius: $border-r;
            text-decoration: none;
            font-size: $fs-link-halfbox;
          }

          a.learnmore {
            width: $w-linkb-halfbox;
            padding: $p-link-halfbox;
            color: $text-nav-hover;
            background-color: $bg-primary-link;
            margin-right: $me-link;
          }

          a.learnmore:hover {
            background-color: $bg-primary-link-hover;
          }

          a.buy {
            width: $w-linkb-halfbox;
            padding: $p-linkb-halfbox;
            border: 1px solid $bg-primary-link;
          }

          a.buy:hover {
            background-color: $bg-primary-link;
            color: $text-nav-hover;
          }
        }
      }
    }
  }

  // ________________________carousel_____________________________________

  section#carousel {
    background-color: $bg-carousel;
    padding-top: $p-box-carousel;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: $fs-heading-carousel;
      font-weight: $fw-semibold;
      color: $text-dark-link;
      padding: $p-nav 0px;
    }

    div {
      margin: 10px auto;

      div#carouselimage {
        width: 99%;

      }
    }
  }
}


// __________________footer______________________________

footer {

  aside {

    padding: 0px 12%;
    font-size: $fs-nav;

    div {

      span {

        display: block;
        font-weight: $fw-semibold;
        margin-bottom: $mb-sub;
      }

      ul {
        list-style: none;
        padding: 0;

        li {

          margin-bottom: $mb-link;

          a {

            color: $text-dark-parag;
            text-decoration: none;

          }

          a:hover {

            text-decoration: underline;
          }

        }

      }

    }


  }


  section{

    padding: 0 12%;

    div{

        p{

            color: $text-copyright;
            font-size: $fs-nav;
        }
    }
  }

  

  div#copyright{

    padding: 0px 12%;

    p{

      color: $text-copyright;
    }

    ul{

      list-style: none;
      
      font-size: $fs-nav;

      li{

        display: inline;
        a{

          color: $text-copyright;
          text-decoration: none;
        }
      }
    }


  }

}