@import "vars";



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    width: 100%;
    background-color: $bg-nav;
    position: fixed;
    padding: $p-nav;
    z-index: 999;

    div {

        display: flex;

        a.apple-icon i {

            color: $text-nav;
            margin-right: 25px;
            transition: all .7s;
        }

        a.apple-icon i:hover {


            color: $text-nav-hover;
        }

        div {

            ul {

                display: flex;
                align-items: center;
                gap: 20px;

                li {

                    a {

                        color: $text-nav;
                        text-decoration: none;
                        font-size: $fs-nav;
                        transition: all .7s;

                    }

                    a:hover {

                        color: $text-nav-hover;
                    }

                }
            }
        }


    }


}

header {

   position: relative;

    section {

        position: absolute;
        top: 12%;
        right: 50%;
        transform: translateX(50%);
        color: $text-nav-hover;
        text-align: center;

        h1 {

            font-size: 60px;
            font-weight: 700;
        }

        p{

            font-size: 30px;
        }

        a{

            padding: $p-link;
            border-radius: $border-r;
            text-decoration: none;
            
        }

        a#learnmore{

            color: $text-nav-hover;
            background-color: $bg-primary-link;
            width: 200px;
        }

        a#buy{

            
        }
    }



    img {

        width: 100%;
    }
}