* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: ltr;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

nav {
  width: 100%;
  background-color: #1d1d1ff7;
  position: fixed;
  padding: 10px;
  z-index: 999;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div a.apple-icon i {
  color: #ffffffcc;
  margin-right: 25px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav div a.apple-icon i:hover {
  color: #fff;
}

nav div div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

nav div div ul li a {
  color: #ffffffcc;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav div div ul li a:hover {
  color: #fff;
}

header {
  position: relative;
  margin-bottom: 12px;
}

header img {
  width: 100%;
}

header section {
  position: absolute;
  top: 12%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
}

header section h1 {
  font-size: 60px;
}

header section p {
  font-size: 30px;
}

header section a {
  display: inline-block;
  padding: 8px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 17px;
}

header section a.learnmore {
  width: 125px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

header section a.learnmore:hover {
  background-color: #0775e4;
}

header section a.buy {
  width: 80px;
  border: 1px solid #0071e3;
}

header section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxone {
  position: relative;
  margin-bottom: 12px;
}

main section#boxone img {
  width: 100%;
}

main section#boxone section {
  position: absolute;
  top: 8%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
}

main section#boxone section h2 {
  font-size: 55px;
  font-weight: 600;
  color: #202020;
}

main section#boxone section h6 {
  font-size: 30px;
  font-weight: 400;
  color: #202020;
}

main section#boxone section p {
  font-size: 20px;
  color: #868686;
}

main section#boxone section a {
  display: inline-block;
  padding: 8px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 17px;
}

main section#boxone section a.learnmore {
  width: 125px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxone section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxone section a#view {
  width: 135px;
  border: 1px solid #0071e3;
}

main section#boxone section a#view:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxtwo {
  position: relative;
  margin-bottom: 12px;
}

main section#boxtwo img {
  width: 100%;
}

main section#boxtwo h2 {
  font-size: 50px;
  font-weight: 350;
  position: absolute;
  top: 12%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
}

main section#boxtwo h2 span {
  font-weight: 600;
}

main section#boxtwo section {
  position: absolute;
  bottom: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
}

main section#boxtwo section p {
  font-size: 30px;
}

main section#boxtwo section a {
  display: inline-block;
  padding: 8px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 17px;
}

main section#boxtwo section a.learnmore {
  width: 125px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxtwo section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxtwo section a.buy {
  width: 80px;
  border: 1px solid #0071e3;
}

main section#boxtwo section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxthree {
  margin-bottom: 12px;
}

main section#boxthree section {
  padding: 0px 6px;
}

main section#boxthree section img {
  width: 100%;
}

main section#boxthree section section#halfboxone {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxthree section section#halfboxone section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
}

main section#boxthree section section#halfboxone section h2 {
  font-weight: 350;
}

main section#boxthree section section#halfboxone section h2 span {
  font-weight: 600;
}

main section#boxthree section section#halfboxone section p {
  font-size: 21px;
}

main section#boxthree section section#halfboxone section a {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxthree section section#halfboxone section a.learnmore {
  width: 105px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxthree section section#halfboxone section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxthree section section#halfboxone section a.buy {
  width: 65px;
  border: 1px solid #0071e3;
}

main section#boxthree section section#halfboxone section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxthree section section#halfboxtwo {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxthree section section#halfboxtwo section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #202020;
  text-align: center;
}

main section#boxthree section section#halfboxtwo section h2 {
  font-weight: 600;
  font-size: 35px;
}

main section#boxthree section section#halfboxtwo section p {
  font-size: 21px;
}

main section#boxthree section section#halfboxtwo section a {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxthree section section#halfboxtwo section a.learnmore {
  width: 105px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxthree section section#halfboxtwo section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxthree section section#halfboxtwo section a.buy {
  width: 65px;
  border: 1px solid #0071e3;
}

main section#boxthree section section#halfboxtwo section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxfour {
  margin-bottom: 12px;
}

main section#boxfour section {
  padding: 0px 6px;
}

main section#boxfour section img {
  width: 100%;
}

main section#boxfour section section#halfboxone {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxfour section section#halfboxone section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #202020;
  text-align: center;
}

main section#boxfour section section#halfboxone section h2 {
  font-weight: 600;
  font-size: 35px;
}

main section#boxfour section section#halfboxone section h2 span {
  color: #388ee4;
}

main section#boxfour section section#halfboxone section p {
  font-size: 21px;
}

main section#boxfour section section#halfboxone section a {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxfour section section#halfboxone section a.learnmore {
  width: 105px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxfour section section#halfboxone section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxfour section section#halfboxone section a.buy {
  width: 65px;
  border: 1px solid #0071e3;
}

main section#boxfour section section#halfboxone section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxfour section section#halfboxtwo {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxfour section section#halfboxtwo section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #202020;
  text-align: center;
}

main section#boxfour section section#halfboxtwo section h2 {
  font-weight: 600;
  font-size: 35px;
}

main section#boxfour section section#halfboxtwo section p {
  font-size: 21px;
}

main section#boxfour section section#halfboxtwo section a {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxfour section section#halfboxtwo section a.learnmore {
  width: 105px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxfour section section#halfboxtwo section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxfour section section#halfboxtwo section a.buy {
  width: 65px;
  border: 1px solid #0071e3;
}

main section#boxfour section section#halfboxtwo section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxfive {
  margin-bottom: 12px;
}

main section#boxfive section {
  padding: 0px 6px;
}

main section#boxfive section img {
  width: 100%;
}

main section#boxfive section section#halfboxone {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxfive section section#halfboxone section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #202020;
  text-align: center;
}

main section#boxfive section section#halfboxone section h2 {
  font-weight: 600;
  font-size: 35px;
}

main section#boxfive section section#halfboxone section h2 span {
  color: #388ee4;
}

main section#boxfive section section#halfboxone section p {
  font-size: 21px;
}

main section#boxfive section section#halfboxone section a {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxfive section section#halfboxone section a.learnmore {
  width: 105px;
  color: #fff;
  background-color: #0071e3;
}

main section#boxfive section section#halfboxone section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxfive section section#halfboxone section a.buy {
  width: 65px;
  border: 1px solid #0071e3;
}

main section#boxfive section section#halfboxone section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#boxfive section section#halfboxtwo {
  position: relative;
  padding: 0;
  padding: 0px 6px;
}

main section#boxfive section section#halfboxtwo section {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #202020;
  text-align: center;
}

main section#boxfive section section#halfboxtwo section h2 {
  font-weight: 600;
  font-size: 35px;
}

main section#boxfive section section#halfboxtwo section p {
  font-size: 21px;
}

main section#boxfive section section#halfboxtwo section a {
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
}

main section#boxfive section section#halfboxtwo section a.learnmore {
  width: 105px;
  padding: 7px;
  color: #fff;
  background-color: #0071e3;
  margin-right: 15px;
}

main section#boxfive section section#halfboxtwo section a.learnmore:hover {
  background-color: #0775e4;
}

main section#boxfive section section#halfboxtwo section a.buy {
  width: 105px;
  padding: 6px;
  border: 1px solid #0071e3;
}

main section#boxfive section section#halfboxtwo section a.buy:hover {
  background-color: #0071e3;
  color: #fff;
}

main section#carousel {
  background-color: #f5f5f7;
  padding-top: 35px;
}

main section#carousel h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  color: #202020;
  padding: 10px 0px;
}

main section#carousel div {
  margin: 10px auto;
}

main section#carousel div div#carouselimage {
  width: 99%;
}

footer aside {
  padding: 0px 12%;
  font-size: 12px;
}

footer aside div span {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

footer aside div ul {
  list-style: none;
  padding: 0;
}

footer aside div ul li {
  margin-bottom: 7px;
}

footer aside div ul li a {
  color: #868686;
  text-decoration: none;
}

footer aside div ul li a:hover {
  text-decoration: underline;
}

footer section {
  padding: 0 12%;
}

footer section div p {
  color: #919191;
  font-size: 12px;
}

footer div#copyright {
  padding: 0px 12%;
  font-size: 12px;
}

footer div#copyright p {
  padding: 0;
  color: #919191;
}

footer div#copyright ul {
  padding: 0;
  list-style: none;
  font-size: 12px;
}

footer div#copyright ul li {
  display: inline;
}

footer div#copyright ul li a {
  color: #919191;
  text-decoration: none;
}

footer div#copyright ul li a:hover {
  text-decoration: underline;
}

footer div#copyright span {
  padding: 0;
  text-align: right;
}

footer div#copyright span a {
  color: #919191;
  text-decoration: none;
}

footer div#copyright span a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */